.i,
.i-bag,
.i-blue-heart,
.i-check,
.i-dislike,
.i-flag,
.i-headset,
.i-heart,
.i-money,
.i-portfolio,
.i-reviews-quote-close,
.i-reviews-quote-open,
.i-rupor,
.i-tie,
.reviews .desc:before,
.reviews .desc:after {
  display: inline-block;
  background-image: url(../images/sprite.png);
  vertical-align: middle;
}
.i-bag {
  background-position: -73px 0px;
  width: 60px;
  height: 60px;
}
.i-blue-heart {
  background-position: -133px -85px;
  width: 40px;
  height: 35px;
}
.i-check {
  background-position: -133px -44px;
  width: 40px;
  height: 41px;
}
.i-dislike {
  background-position: 0px -120px;
  width: 40px;
  height: 40px;
}
.i-flag {
  background-position: -133px 0px;
  width: 40px;
  height: 44px;
}
.i-headset {
  background-position: -40px -120px;
  width: 40px;
  height: 39px;
}
.i-heart {
  background-position: 0px 0px;
  width: 73px;
  height: 60px;
}
.i-money {
  background-position: -60px -60px;
  width: 60px;
  height: 45px;
}
.i-portfolio {
  background-position: 0px -60px;
  width: 60px;
  height: 60px;
}
.i-reviews-quote-close,
.reviews .desc:after {
  background-position: 0px -160px;
  width: 41px;
  height: 29px;
}
.i-reviews-quote-open,
.reviews .desc:before {
  background-position: -120px -120px;
  width: 42px;
  height: 29px;
}
.i-rupor {
  background-position: -80px -120px;
  width: 40px;
  height: 34px;
}
.i-tie {
  background-position: -173px 0px;
  width: 24px;
  height: 60px;
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  font-style: normal;
  src: url(../font/MyriadPro-Bold_0.otf);
}
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}
.main {
  height: 700px;
  padding-top: 138px;
  background: #a89eac url(../images/bg-main.jpg) top center no-repeat;
}
.main h1 {
  margin-bottom: 42px;
}
.main p {
  margin-bottom: 93px;
  font-size: 24px;
}
.offer {
  padding-top: 93px;
  padding-bottom: 100px;
}
.offer h2 {
  margin-bottom: 60px;
}
.offer .item {
  display: inline-block;
  margin-bottom: 60px;
  text-align: center;
}
.offer .item:hover .front-side {
  transform: rotateY(180deg);
}
.offer .item:hover .back-side {
  transform: rotateY(0deg);
  z-index: 0;
}
.offer .item .front-side,
.offer .item .back-side {
  transition: all 1s;
  width: 160px;
  height: 180px;
}
.offer .item .front-side:before,
.offer .item .back-side:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.offer .item .front-side {
  background: linear-gradient(to right, #00e3ff, #33bfd0);
}
.offer .item .back-side {
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  z-index: -1;
  background: #6e6d6d;
}
.offer .item .inner {
  display: inline-block;
  width: 95%;
  font-size: 12px;
  vertical-align: middle;
  line-height: 1.85;
}
.offer .item .inner:nth-child(1) {
  font-size: 12px;
  line-height: 22px;
}
.offer .item .inner:nth-child(2),
.offer .item .inner:nth-child(3),
.offer .item .inner:nth-child(4) {
  font-size: 16px;
  line-height: 28px;
}
.offer .item .inner:nth-child(5) {
  font-size: 14px;
  line-height: 22px;
}
.work {
  height: 758px;
  padding-top: 92px;
  background: #152832 url(../images/bg-work.jpg) top center no-repeat;
}
.work h2 {
  margin-bottom: 57px;
}
.work .item {
  margin-bottom: 48px;
  line-height: 28px;
}
.work .item .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.work .item .desc {
  font-size: 16px;
}
.fit-in {
  padding-top: 92px;
  padding-bottom: 37px;
}
.fit-in h2 {
  margin-bottom: 60px;
}
.fit-in .item {
  margin-bottom: 50px;
}
.fit-in .icon {
  margin-bottom: 23px;
}
.fit-in .desc {
  font-size: 16px;
  line-height: 28px;
}
.advantages {
  height: 725px;
  padding-top: 103px;
  background: #f0f0f0 url(../images/bg-advantages.jpg) top center no-repeat;
}
.advantages h2 {
  margin-bottom: 90px;
}
.advantages .item {
  margin-bottom: 64px;
}
.advantages .item-1 {
  padding-left: 10px;
}
.advantages .item-2 {
  padding-right: 20px;
}
.advantages .item-3 {
  padding-left: 20px;
}
.advantages .item-4 {
  padding-right: 10px;
}
.advantages .icon {
  height: 42px;
  margin-bottom: 23px;
}
.advantages .desc {
  line-height: 28px;
}
.condition {
  min-height: 730px;
  padding-top: 93px;
  background: #ffffff url(../images/bg-condition.jpg) bottom center no-repeat;
}
.condition h2 {
  margin-bottom: 33px;
}
.condition .item {
  margin-bottom: 30px;
  text-align: left;
}
.condition .title {
  margin-bottom: 3px;
  color: #33bfd0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.condition .desc {
  color: #6e6d6d;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 24px;
}
.how {
  height: 685px;
  padding-top: 92px;
  background: #e5e8ec url(../images/bg-how.jpg) top center no-repeat;
}
.how h2 {
  margin-bottom: 59px;
}
.how .number {
  color: #33bfd0;
  font-family: "Myriad Pro";
  font-size: 130px;
  font-weight: bold;
  line-height: 0.6;
}
.how .desc {
  margin-bottom: 50px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #6e6d6d;
}
.how .first {
  padding-left: 25px;
}
.how .btn {
  width: 300px;
}
.reviews {
  height: 866px;
  padding-top: 92px;
  background: #2a292f url(../images/bg-reviews.jpg) top center no-repeat;
}
.reviews h2 {
  margin-bottom: 55px;
}
.reviews .title {
  margin-bottom: 17px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #33bfd0;
  text-transform: uppercase;
}
.reviews .desc {
  position: relative;
  padding: 0 70px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #e0e0e0;
}
.reviews .desc:before,
.reviews .desc:after {
  content: "";
  position: absolute;
}
.reviews .desc:before {
  top: 4px;
  left: 8px;
}
.reviews .desc:after {
  bottom: 7px;
  right: 10px;
}
.reviews .desc p {
  margin-bottom: 10px;
}
.reviews .btn {
  width: 300px;
}
.not-fit {
  padding-top: 93px;
  padding-bottom: 35px;
  background: #ffffff url(../images/bg-not-fit.jpg) bottom center no-repeat;
}
.not-fit h2 {
  margin-bottom: 60px;
}
.not-fit .item {
  margin-bottom: 55px;
}
.not-fit .icon {
  margin-bottom: 20px;
}
.not-fit .desc {
  line-height: 28px;
}
.finish {
  height: 412px;
  padding-top: 100px;
  background: #33bfd0;
}
.finish h2 {
  margin-bottom: 55px;
}
.slick-slider {
  margin-bottom: 115px;
}
.slick-slide {
  outline: none;
}
.slick-dots {
  bottom: -75px;
}
.slick-dots li {
  width: 20px;
  height: 40px;
  margin: 0 25px;
}
.slick-dots li button {
  width: 20px;
  height: 20px;
  background: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
}
.slick-dots li button:before {
  font-size: 0;
}
.slick-dots li button:hover {
  background: #33bfd0;
}
.slick-dots li button:active {
  background: linear-gradient(to bottom, #24848f, #30b2c2);
}
.slick-dots .slick-active button {
  position: relative;
  left: -10px;
  width: 40px;
  height: 40px;
  background: #33bfd0;
}
.footer {
  height: 60px;
}
.footer .item {
  padding: 15px 45px;
  font-size: 18px;
  line-height: 24px;
  color: #c6c6c6;
  letter-spacing: 1px;
}
.footer a {
  color: inherit;
  text-decoration: underline;
}
.footer a:hover,
.footer a:active,
.footer a:focus {
  color: inherit;
  text-decoration: none;
}
.worksheet {
  width: 760px;
  padding: 33px 0 39px;
  margin: auto;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #F3F3F3;
  overflow: hidden;
}
.worksheet h2 {
  margin-bottom: 40px;
}
.worksheet .form {
  margin: 0 -380px;
}
.worksheet input {
  width: 100%;
  height: 59px;
  margin-bottom: 20px;
  border: none;
  background-color: #E0E0E0;
  text-align: center;
  color: #6e6d6d;
}
.worksheet input :focus {
  otline: none;
}
.worksheet input:required::-webkit-input-placeholder:after {
  content: " *";
  color: #33bfd0;
}
.worksheet input:required::-moz-placeholder {
  content: " *";
  color: #33bfd0;
}
.worksheet input:required:-moz-placeholder {
  content: " *";
  color: #33bfd0;
}
.worksheet input:required:-ms-input-placeholder {
  content: " *";
  color: #33bfd0;
}
.worksheet input ::-webkit-input-placeholder {
  color: #6e6d6d;
}
.worksheet input ::-moz-placeholder {
  color: #6e6d6d;
}
.worksheet input :-moz-placeholder {
  color: #6e6d6d;
}
.worksheet input :-ms-input-placeholder {
  color: #6e6d6d;
}
.worksheet .title {
  font-size: 16px;
  text-align: center;
  line-height: 59px;
  color: #6e6d6d;
}
.worksheet label input[type="radio"] {
  display: none;
}
.worksheet .yes {
  float: left;
}
.worksheet .no {
  float: right;
}
.worksheet button {
  width: 340px;
  margin-top: 49px;
}
.worksheet .has-warning {
  background-color: #FF2241;
  color: white;
}
.popup {
  width: 760px;
  padding: 35px;
  margin: auto;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #33bfd0;
  color: white;
}
.popup h2 {
  margin-bottom: 25px;
  font-size: 25px;
  text-align: center;
}
.popup p {
  margin-bottom: 10px;
}
.popup,
.worksheet {
  position: relative;
}
.popup .mfp-close,
.worksheet .mfp-close {
  width: 40px;
  margin-top: 0;
  opacity: 1;
  font-size: 40px;
  color: black;
}
/*# sourceMappingURL=style.css.map */